*{
    background: #000;
}

.header{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: sans-serif;
}

.header-tittle{
    color: #fff;
}

.header-paragraf{
    color: #fff;
}

.header-link{
    color: #fff;
}